
  
  /*
  *CSS content-header
  */
  
  /**
  CSS bảng khách hàng
  */
  .grid {
    width: 100%;
    position: relative;
    height: 550px;
    overflow-y: auto;
    margin-top: 10px;
  }
  .grid::-webkit-scrollbar {
    background-color: #d2d2d2;
    width: 6px;
    height: 10px;
  }
  .grid::-webkit-scrollbar-thumb {
    border-top-right-radius: 6px;
  }
  table {
    width: 100%;
    border-spacing: 0;
    height: 590px;
  }
  /* tr:nth-child(even) {
    background-color: #d1f7cf;
  } */
  tr {
    text-align: center;
    height: 40px;
  }
  .loaded{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
  }
  tr:hover td {
    background-color: rgb(243, 235, 235);
  }
  .grid thead th {
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  th,
  td {
    border-bottom: 1px solid #ddd;
  }
  /**Them class khi click vao 1 dong */
  .selected {
    background-color: #c5c1ad;
  }
  
  .checkboxRow {
    margin-top: 5px;
    width: 18px;
    height: 18px;
  }
  .checkboxRow:checked {
    background-color: #019160;
  }

  .loading{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
  }
  .loading-icon{
      width: 100px;
      height: 40px;
      position: absolute;
      top:calc(50% - 20px);
      left: calc(50% - 50px);
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }