.content-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
  }
  .content-header .title {
    font-family: MISA-Bold;
    font-size: 20px;
    color: #000000;
  }
  /**
  CSS button thêm khách hàng
   */
  .btn-insert {
    height: 40px;
    display: flex;
    background-color: #019160;
    border-radius: 3px;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    position: absolute;
    right: 24px;
  }
  .btn-insert-icon {
    background-image: url("../../assets/icon/add.png");
    background-position: 16px 2px;
    width: 20px;
    height: 24px;
    padding: 0px 6px 0px 16px;
    background-repeat: no-repeat;
  }
  .btn-insert-text {
    padding-right: 16px;
  }
  .btn-insert:hover {
    background-color: #2fbe8e;
    cursor: pointer;
  }
  /**CSS dropdown customer group */
  .filter-customer-group {
    padding-left:20px ;
  }
  /**
  CSS button refresh
   */
  .btn-refresh {
    height: 40px;
    width: 40px;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    position: absolute;
    right: 24px;
    box-sizing: border-box;
  }
  .btn-refresh-icon {
    width: 30px;
    height: 30px;
    background-image: url("../../assets/icon/refresh.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 0px 0px 5px;
  }
  .btn-refresh:hover {
    background-color: #e9bebe;
    cursor: pointer;
  }
  
  /**
  CSS phần filter
  */
  .content-filter {
    height: 50px;
    width: 100%;
    display: flex;
  }
  /**
  CSS phần nhập thông tin tìm kiếm
   */
  .box-search {
    height: 40px;
    width: 250px;
    display: flex;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .box-search-icon {
    width: 40px;
    height: 100%;
    background-image: url("../../assets/icon/search.png");
    background-repeat: no-repeat;
    background-position: 12px 11px;
  }
  .box-search-input {
    flex: 1;
    box-sizing: border-box;
  }
  .box-search-input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
  }
  .box-search:hover {
    border: 1px solid #019160;
  }
  .box-search-input input:focus .box-search {
    border: 1px solid #019160;
  }
  